{% extends 'note-base.html.twig' %}
{% block title %}Generate a new secure password in your browser{% endblock %}
{% block metadescription %}Generate a new secure password locally in your browser.{% endblock %}

{% block body %}
<div class="container" id="container-generate-password">
    <div class="row">
        <div class="col">
            

            <input type="text" value="" id="new-password-to-copy" class="visually-hidden">

            <div class="content-block">
                <h1>Generate Secure Password <sup><a href="https://github.com/alexrs84/securenote/blob/main/assets/passwordApp.js" target="_blank">src</a></sup></h1>
                <div class="form-group">
                    <!-- <label for="generated-password">Password</label> -->
                    <input type="text" class="form-control" id="generated-password" placeholder="">
                </div>
                <div class="copy-saved-link-container mt-2">
                    <div class="nbtooltip mt-5 mt-md-0 mb-3 mb-0-md">
                        <button class="cpy-from btn btn-primary" data-inputpath="#generated-password" >
                            <span class="tooltiptext">Copy to Clipboard</span>
                            <span class="tooltiptext-upon-copy" style="display:none">Copied!</span>
                            Copy Password
                        </button>
                    </div>

                    <div class="nbtooltip mt-5 mt-md-0 mb-3 mb-0-md">
                        <button class="btn btn-secondary" id="refresh-password" >
                            Refresh Password
                        </button>
                    </div>
                </div>
            </div>

            <div id="create-form-controls"  class="content-block mt-5">
                <h3>Customize Secure Password <sup><a href="https://github.com/alexrs84/securenote/blob/main/assets/app.js#L482" target="_blank">src</a></sup></h3>

                <div class="form-row d-flex align-items-center mt-3 mb-3">
                    <div class="form-check">
                        <input type="range" min="5" max="50" value="12" class="slider" name="password-length" id="password-length">

                        <br /><label class="form-check-label" for="password-length">
                            Length <span id="password-length-display"></span>
                        </label>
                    </div>
                </div>
                

                <div class="form-row d-flex align-items-center  mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="upper-alpha" id="inc-upper-alpha" checked>
                        <label class="form-check-label" for="inc-upper-alpha">
                            Include Uppercase: <code>ABCDEFGHIJKLMNOPQRSTUVWXYZ</code>
                        </label>
                    </div>
                </div>

                <div class="form-row d-flex align-items-center  mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="lower-alpha" id="inc-lower-alpha" checked>
                        <label class="form-check-label" for="inc-lower-alpha">
                            Include Lowercase: <code>abcdefghijklmnopqrstuvwxyz</code>
                        </label>
                    </div>
                </div>

                <div class="form-row d-flex align-items-center  mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="numbers" id="inc-numbers" checked>
                        <label class="form-check-label" for="inc-numbers">
                            Include Numbers: <code>0123456789</code>
                        </label>
                    </div>
                </div>

                <div class="form-row d-flex align-items-center  mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name=symbols" id="inc-symbols" checked>
                        <label class="form-check-label" for="inc-symbols">
                            Include Symbols: <code>!@#$%^&*()_-+=~`{[}]'";:.&lt;&gt;,/?|\</code>
                        </label>
                    </div>
                </div>

                <div class="form-row d-flex align-items-center  mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name=ambig" id="exc-specials" checked>
                        <label class="form-check-label" for="exc-specials">
                           Exclude potentially string-breaking special characters: <code>\'"</code>
                        </label>
                    </div>
                </div>

                <div class="form-row d-flex align-items-center  mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name=ambig" id="exc-ambig">
                        <label class="form-check-label" for="exc-ambig">
                           Exclude visually ambigious: <code>0oO1IilL</code>
                        </label>
                    </div>
                </div>

                
            </div>
            
    
        </div>
    </div>
</div>

{% endblock %}