{% extends 'note-base.html.twig' %}
{% block title %}Generate a new secure password in your browser{% endblock %}
{% block metadescription %}Generate a new secure password locally in your browser.{% endblock %}
{% block ogimage %}/images/generatepass-og.jpg{% endblock %}

{% block body %}
<div class="container" id="container-generate-password">
    <div class="row">
        <div class="col">
            

            <input type="text" value="" id="new-password-to-copy" class="visually-hidden">

            <div class="content-block">
                <sup class="src-link">
                    <a href="https://github.com/alexrs84/securenote/blob/main/assets/passwordApp.js" target="_blank">src client #1 (Crypto)</a>,
                    <a href="https://github.com/alexrs84/securenote/blob/main/assets/generatePasswordUI.js" target="_blank">src client #2 (UI)</a>
                </sup>
                <h1>Generate Secure Password</h1>
                

                <div class="form-group">
                    <!-- <label for="generated-password">Password</label> -->
                    <input type="text" class="form-control" id="generated-password" placeholder="">
                </div>
                <div class="copy-saved-link-container mt-1 mt-md-2">
                    <div class="nbtooltip mt-0 mt-md-0 mb-3 mb-0-md">
                        <button class="cpy-from btn btn-primary" data-inputpath="#generated-password" id="copy-generated-password" >
                            <span class="tooltiptext" style="display:none"></span>
                            <span class="tooltiptext-upon-copy" style="display:none">Copied!</span>
                            Copy Password
                        </button>
                    </div>

                    <div class="nbtooltip mt-0 mt-md-0 mb-3 mb-0-md">
                        <button class="btn btn-secondary" id="refresh-password" >
                            Refresh Password
                        </button>
                    </div>
                </div>
            </div>

            <div id="create-form-controls"  class="content-block mt-5">
                <h3>Customize Secure Password</h3>

               

                <div class="customize-password">
                    <div class="aform-row d-flex flex-column align-items-start mt-3 mb-3">
                       
                            <input type="range" min="3" max="50" value="12" class="slider remember-value" name="password-length" id="password-length">
                            <label class="form-check-label" for="password-length">
                                Password Length <span id="password-length-display"></span>
                            </label>
                    </div>

                    <div class="mt-3 mb-3">
                        <div class="form-row d-flex align-items-center  mb-3">
                            <div class="form-check">
                                <input class="form-check-input remember-value" type="checkbox" name="upper-alpha" id="inc-upper-alpha" checked>
                                <label class="form-check-label" for="inc-upper-alpha">
                                    Include Uppercase
                                </label>
                            </div>
                        </div>
    
                        <div class="form-row d-flex align-items-center  mb-3">
                            <div class="form-check">
                                <input class="form-check-input remember-value" type="checkbox" name="lower-alpha" id="inc-lower-alpha" checked>
                                <label class="form-check-label" for="inc-lower-alpha">
                                    Include Lowercase
                                </label>
                            </div>
                        </div>
    
                        <div class="form-row d-flex align-items-center  mb-3">
                            <div class="form-check">
                                <input class="form-check-input remember-value" type="checkbox" name="numbers" id="inc-numbers" checked>
                                <label class="form-check-label" for="inc-numbers">
                                    Include Numbers
                                </label>
                            </div>
                        </div>
    
                        <div class="form-row d-flex align-items-center  mb-3">
                            <div class="form-check">
                                <input class="form-check-input remember-value" type="checkbox" name=symbols" id="inc-symbols" checked>
                                <label class="form-check-label" for="inc-symbols">
                                    Include Symbols
                                </label>
                            </div>
                        </div>
    
                        <div class="form-row d-flex align-items-center  mb-3">
                            <div class="form-check">
                                <input class="form-check-input remember-value" type="checkbox" name=ambig" id="exc-specials" checked>
                                <label class="form-check-label" for="exc-specials">
                                Exclude string-breaking symbols (<code>'"\</code>)
                                </label>
                            </div>
                        </div>
    
                        <div class="form-row d-flex align-items-center  mb-3">
                            <div class="form-check">
                                <input class="form-check-input remember-value" type="checkbox" name=ambig" id="exc-ambig" checked>
                                <label class="form-check-label" for="exc-ambig">
                                Exclude ambigious (<code>0oO1IilL</code>)
                                </label>
                            </div>
                        </div>

                    </div>

                    
                </div>

                <div class="password-information">
                    <div class="mt-3 mb-3 strength-display strength-display-real ">
                        With your settings there are 
                        <code><span id="perm-withrepeat-count" class="count"></span></code> distinct passwords. <span class="math">
                            (<span class="perm-withrepeat-count-var-n">n</span><sup><span class="perm-withrepeat-count-var-r">r</span></sup>)
                            </span> 
                            <div class="mt-1 num-to-words" id="num-to-words"><code></code></div>
                        
                    </div>
    
                    <!-- <div class="mt-3 mb-3 strength-display strength-display-fyi form-check" style="display:none">
                        <p>FYI - Your password has repeatable characters, but if it didn't: <span class="math"><sup>n</sup><em>P</em><sub>r</sub> 
                            = <span class="perm-norepeat-count-var-n">n</span>! / (<span class="perm-norepeat-count-var-n">n</span>&mdash;<span class="perm-norepeat-count-var-r">r</span>)!</span> 
                            <br /> <span id="perm-norepeat-count" class="count"></span> permutations!
                        </p>
                    </div> -->

                </div>

                


                

                
            </div>

            <div class="mt-4 content-block">
                <h2>Password Security Tips</h2>
                <p>The generated password isn't transmitted over the internet, it's generated directly in your browser.</p>
                <ul class="do-and-dont">
                    <li class="dont">Don't use weak or <a href="https://en.wikipedia.org/wiki/Wikipedia:10,000_most_common_passwords" target="_blank" rel="external nofollow noopener">common passwords</a> like <code>12345</code>, <code>Qwerty123</code>, <code>password!</code>, <code>password1</code>, <code>letmein</code>. These are likely to be found in password dictionaries that are used by brute-force bots.</li>                    
                    <li class="dont">Don't use the same username and password combinations across multiple services. If one is breached, you could become a victim of Password Stuffing where your credentials will be tried in other services in an attempt by a bad actor to gain access to your account(s).</li>
                    <li class="dont">Don't use personally identifiable information in your password, like your birthday or name or pet name. That information is known by people who know you and is likely researchable if you have a social media presence.</li>
                    <li class="dont">Don't send passwords over text messaging or email. SMS isn't encrypted, and sometimes email isn't either. In either case, an unauthorized actor can obtain those passwords if they gain access to your device or email.</li>
                    <li class="do">Do use secure passwords, with a minimum length of 8 that contains uppercase, lowercase, numbers, and special characters like <code>(sra:&gt;Q^G~|F</code>, <code>N3B6n7`kYRe=</code>, <code>ze$&&gt;9//-Hkn</code>. These can't be guessed. These are very strong passwords, to brute-force them you have to sequentially try every permutation and for every additional character in length, the number of permutations increases exponentially.</li>
                    <li class="do">Do use a different password for every service. Use a password manager like <a href="https://www.lastpass.com/" target="_blank" rel="external nofollow noopener">LastPass</a> or <a href="https://1password.com/" target="_blank" rel="external nofollow noopener">1Password</a> to securely generate and remember your passwords.</li>
                    <li class="do">Do share passwords via a self-destructing link via <a href="https://securenote.ca/">Secure Note</a>, or via a Password Manager, where access is revokable or the length of time or number of times the password can be viewed is controllable.</li>
                </ul>
            </div>
            
    
        </div>
    </div>
</div>

{% endblock %}