{% extends 'note-base.html.twig' %}
{% block title %}Private Policy{% endblock %}
{% block metadescription %}Data is not shared, no non-essential data is recorded.{% endblock %}

{% block body %}
<div class="container" id="container-privacy">
    <div class="row">
        <div class="col">
            
            <h1>Privacy Policy</h1>
            <p>Last updated: June 23, 2023</p>


            <h2>Preface</h2>

            <p>IP addresses and User-Agent information are only collected by securenote.ca for the purpose of facilitating communication with its servers. They are not used for any other purposes.</p>

            <p>When a Note is destroyed or deleted, the encrypted data associated with it is permanently removed from the servers. Only the GUID (unique identifier) and the date of destruction are retained.</p>
            
            <p>The shareable secure-note link is created within the user's browser and is not transmitted to securenote.ca in its original form. If a user loses the link, it becomes impossible to retrieve the contents of the secure note.</p>
            
            <p>At securenote.ca, IP addresses and account identifiers are not recorded, ensuring that a Note cannot be linked to an individual user. All records are anonymous.</p>
            
            <p>Once a person clicks on a securenote.ca secure-note link, securenote.ca assumes no responsibility for the content of the note. It is unable to decrypt, read, or filter the information contained within.</p>
                

            <hr class="mt-4 mb-4" />


                

            <p>This Privacy Policy explains how we collect, use, and disclose your information when you use our Service. It also informs you about your privacy rights and legal protections.</p>
            <p>We utilize your personal data to provide and enhance the Service. By using the Service, you consent to the collection and use of information as described in this Privacy Policy.</p>
            <h1>Interpretation and Definitions</h1>
            <h2>Interpretation</h2>
            <p>Capitalized words in this document have specific meanings. These definitions apply regardless of whether they are in singular or plural form.</p>
            <h2>Definitions</h2>
            <p>For the purpose of this Privacy Policy:</p>
            <ul>
              <li>
                <p><strong>Company</strong> refers to Secure Note.</p>
              </li>
              <li>
                <p><strong>Cookies</strong> are small files that contain details of your browsing history on a website and are placed on your computer or device by the website.</p>
              </li>
              <li>
                <p><strong>Country</strong> refers to Manitoba, Canada.</p>
              </li>
              <li>
                <p><strong>Device</strong> means any device such as a computer, cellphone, or tablet that can access the Service.</p>
              </li>
              <li>
                <p><strong>Personal Data</strong> refers to any information relating to an identified or identifiable individual.</p>
              </li>
              <li>
                <p><strong>Service</strong> refers to the Secure Note website.</p>
              </li>
              <li>
                <p><strong>Service Provider</strong> means any person or company employed by Secure Note to process data on its behalf.</p>
              </li>
              <li>
                <p><strong>Usage Data</strong> refers to data collected automatically, including information about your device, browsing history, and page visit duration.</p>
              </li>
              <li>
                <p><strong>Website</strong> refers to the Secure Note website accessible at <a href="https://securenote.ca" target="_blank">https://securenote.ca</a>.</p>
              </li>
              <li>
                <p><strong>You</strong> refers to the individual or legal entity accessing or using the Service.</p>
              </li>
            </ul>
            <h1>Collecting and Using Your Personal Data</h1>
            <h2>Types of Data Collected</h2>
            <!-- <h3>Personal Data</h3>
            <p>While using our Service, we may ask you to provide personally identifiable information that can be used to contact or identify you. This may include Usage Data.</p> -->
            <h3>Usage Data</h3>
            <p>Usage Data is collected automatically when using the Service. It may include your IP address, browser type, browser version, visited pages, time and date of visit, duration of page visits, unique device identifiers, and other diagnostic data. If you access the Service via a mobile device, we may also collect additional information such as the type of device, unique device ID, mobile operating system, mobile browser type, and IP address.</p>
            <h3>Tracking Technologies and Cookies</h3>
            <p>We use Cookies and similar tracking technologies to track activity on our Service and store certain information. These technologies may include cookies, web beacons, and scripts. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some parts of our Service.</p>
            <h3>Use of Your Personal Data</h3>
            <p>The Company may use your Personal Data for the following purposes:</p>
            <ul>
            <li>
                <p><strong>To provide and maintain the Service:</strong> This includes monitoring the usage of the Service.</p>
            </li>
            <li>
                <p><strong>To manage your requests:</strong> We use your information to attend to and handle your requests.</p>
            </li>
            <li>
                <p><strong>For other purposes:</strong> We may utilize your information for data analysis, identifying usage trends, evaluating the effectiveness of our campaigns, and improving our Service, products, services, marketing, and user experience.</p>
            </li>
            </ul>
            <p>We do not collect any personal information and therefore do not share any personal information with third parties.</p>


            

            <h2>Security of Your Personal Data</h2>
            <p>We prioritize the security of Your Personal Data, but please note that no method of transmission over the Internet or electronic storage is 100% secure. While we make every effort to use commercially acceptable means to protect Your Personal Data, we cannot guarantee its absolute security.</p>

            <h1>Children's Privacy</h1>
            <p>Our Service is not intended for individuals under the age of 13, and we do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and become aware that Your child has provided Us with Personal Data, please contact Us. If We discover that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers. If consent from a parent is required by Your country's laws for processing Your information, We may ask for Your parent's consent before collecting and using that information.</p>

            <h1>Links to Other Websites</h1>
            <p>Our Service may contain links to other websites that are not operated by Us. If You click on a third-party link, You will be directed to that third party's site. We strongly recommend reviewing the Privacy Policy of every site You visit. We have no control over the content, privacy policies, or practices of any third-party sites or services.</p>

            <h1>Changes to this Privacy Policy</h1>
            <p>We may update Our Privacy Policy periodically. The "Last updated" date at the top of this Privacy Policy will be modified accordingly. We advise You to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

            <h1>Contact Us</h1>
            <p>If You have any questions about this Privacy Policy, You can contact Us:</p>
            <ul>
            <li>By email: <a href="mailto:info@securenote.ca">info@securenote.ca</a></li>
            </ul>

            
    
        </div>
    </div>
</div>

{% endblock %}