// customize some Bootstrap variables
// $primary: darken(#428bca, 20%);



$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

//forms removed form-row...
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // margin-right: -5px;
    // margin-left: -5px;
}

body {
    background-color: rgb(255 255 255);
    color: rgb(44, 44, 44);
}

a {
  text-decoration: none;
}