// customize some Bootstrap variables
// $primary: darken(#428bca, 20%);



$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

//forms removed form-row...
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // margin-right: -5px;
    // margin-left: -5px;
}

body {
  background-color: rgb(255 255 255);
  color: rgb(44, 44, 44);
}

a {
  text-decoration: none;
}





.nbtooltip {
  position: relative;
  display: inline-block;
}

.nbtooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.nbtooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.nbtooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}