#main-container {
    min-height: 100vh;
    background: #f6f6f6;
}

#header {

    background-color: #3e3e3e;
    color: #dadada;
    font-size: 140%;

    .header-aside a {
        text-decoration: none;
        color: #ffffff;
        &:hover, &:active, &:focus {
            color: #e0e0e0;
        }
    }

    .col.header a {
        color: #ffffff;
        text-decoration: none;
    }

   

    svg.svg-l {
        width: 260px;
        height: 52.34px;

        margin-left: -18px;
   

        @media(max-width: 490px) {
            width: 160px;
            height: 32.2px;
        }

        @media(max-width: 767px) {
            width: 200px;
            height: auto;
            margin-left: 0;
        }



        .keyhole{fill:#ffc418}
        .cls-1{font-size:72px;}
        .cls-1,.cls-4{fill:#d5d5d5;font-family:HelveticaNeue, Helvetica Neue;}
        .cls-2{letter-spacing:-0.02em;}
        .cls-3{letter-spacing:-0.01em;}
        .cls-4{font-size:18px;}
    }
    

    


}


#footer {
    background-color: #3e3e3e;
    padding-bottom: 3em;
    color: #9a9a9a;

    a {
        
        text-decoration: none;
        color: #e1e1e1;
        &:hover, &:active, &:focus {
            color: #ffffff;
        }
        
    }

    svg {
        width: 100px;
    }

    .cls-1{fill:#c0c0c0; display: none;}
    .cls-2{fill:#898989;}
    .cls-3{fill: #3e3e3e;stroke: #a9a9a9;stroke-miterlimit:10;}
}

#sub-header {
    background: #fbfbfb;
    color: #454545;
    font-size: 13px;
    //box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 2%), 0 0 0 1px rgb(10 10 10 / 2%);

    a {
        
        // text-decoration: underline;
        // color: #e1e1e1;
        // &:hover, &:active, &:focus {
        //     color: #ffffff;
        // }
    }

    @media (max-width: 768px) {
        font-size: 11px;
    }
}
// #footer {
//     background-color: rgb(43, 43, 43);
// }

#content {
    margin-bottom: 5em;
    // margin-top: 2em;

    // @media (max-height: 768px) {
    //     margin-top: 0.2em;
    // }
}

#container-note-view {
    .loading-temporary {

    }

    .loading-error {

    }

    .secretnote-group {

        &.hidden {
            visibility: hidden;
        }
    }
}

.shadowed {
    padding: 1.5em;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.content-block {
    @extend .shadowed;
    background-color: white;
}


.footer-nav {

    a {
        margin-bottom: 1.2em;
    }

    @media(max-width: 768px) {

    }
}

#saved-link {
    overflow: auto;

    @media (min-width: 992px) {
        padding-left: 1em;
    }
    
    
}

button.cpy-from {
    white-space: nowrap;
}

.saved-link-display a {
    word-wrap: break-word;
}

#saved-note-tips {
    background: #f6f6f6;
    padding: 0.3em 1em;
    /* border: 1px solid #dccfa2; */
    color: #565656;

    span {
        display: block;
        margin: 0 0.8em;
    }
}

textarea#secretnote {
    overflow: auto !important;
}

.ttl-container {
    @media(max-width: 991px) {
        width: 100%;
    }
}

.beside-button.status-updates,
#form-note-create button[type="submit"] {
    @media(max-width: 991px) {
        // width: 100%;

    }
}