#main-container {
    min-height: 100vh;
    background: #0d1117;
    background-color: var(--form-element-bg);
}

#header {
    background-color: #161b22;
    background-color: var(--header-bg);
    color: #dadada;
    color: var(--header-color);

    .col.header a {
        color: #ffffff;
        color: var(--header-aside-a);
        text-decoration: none;
    }  

    svg.svg-l {
        height: 30.34px;

        @media(max-width: 767px) {
            width: 200px;
            height: auto;
            margin-left: 0;
            max-width: 33vw;
        }

        .cls-1{fill:#d5d5d5; fill: var(--header-cls-1-fill);}
        .cls-2{fill:#aeadae; fill: var(--header-cls-2-fill);}
        .cls-3{fill:#ffc51b; fill: var(--header-cls-3-fill);}
    }

}


#footer {
    padding-bottom: 3em;
    color: #9a9a9a;
    color: var(--footer-color);

    a {
        text-decoration: none;
        color: #e1e1e1;
        color: var(--footer-a);
        &:hover, &:active, &:focus {
            color: #ffffff;
            color: var(--footer-a-hover);
        }
    }

    svg {
        width: 100px;
    }

    .cls-1{fill:#c0c0c0; display: none;}
    .cls-2{fill:#898989;}
    .cls-3{fill: #3e3e3e;stroke: #a9a9a9;stroke-miterlimit:10;}

    > .container {
        border-top: 1px solid #2b2b2b;
        border-top: 1px solid var(--footer-border-top-color);
        
    }
}

#sub-header {
    font-size: 13px;
    color: #999999;
    color: var(--subheader-color);
    font-size: 13px;

    a {
        color: #cecece;
        color: var(--subheader-a-color);

        &:hover {
            color: #fff;
            color: var(--subheader-a-color-hover);
        }
    }

    @media (max-width: 768px) {
        font-size: 11px;
    }
}

#content {
    margin-bottom: 5em;
}

#container-note-view {
    .secretnote-group {
        &.hidden {
            visibility: hidden;
        }
    }
}

.shadowed {
    padding: 1.5em;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.content-block {
    //@extend .shadowed;
    box-shadow: var(--context-box-boxshadow);
    background-color: #161b22;
    background-color: var(--modal-bg);
    border: 1px solid #30363d;
    border: 1px solid var(--normal-border-color);
    color: #d5d5d5;
    color: var(--modal-color);
    padding: 1.5em;
    border-radius: 6px;
}

.footer-nav {

    a {
        margin-bottom: 1.2em;
    }
}

#saved-link {
    overflow: auto;

    @media (min-width: 992px) {
        padding-left: 1em;
    }    
}

button.cpy-from {
    white-space: nowrap;
}

.saved-link-display a {
    word-wrap: break-word;
}

#saved-note-tips {
    background: #30363d;
    background: var(--savednote-tip-bg);
    padding: 0.3em 1em;
    color: #dadada;
    color: var(--form-color);

    span {
        display: block;
        margin: 0 0.8em;
    }
}

textarea#secretnote {
    overflow: auto !important;
    margin-top: 0.4em;
}

.ttl-container {
    @media(max-width: 991px) {
        width: 100%;
    }
}

// .beside-button.status-updates,
// #form-note-create button[type="submit"] {
//     @media(max-width: 991px) {
//         // width: 100%;

//     }
// }

.footer-version-info {
    text-align: right;
    margin-top: 2rem;
    font-size: 76%;
    padding-top: 1em;
}