{% extends 'base.html.twig' %}
{% block title %}Read Note{% endblock %}

{% block body %}
<div class="container" id="container-note-test">
    <div class="row">
        <div class="col">


            


        </div>
    </div>
</div>


<script>

</script>

{% endblock %}