{% extends 'base.html.twig' %}
{% block title %}Read Secure Note{% endblock %}

{% block recaptchascript %}<script src="https://www.google.com/recaptcha/api.js?render={{ GOOGLE_RECAPTCHA_SITE_KEY }}"></script>{% endblock %}
{% block envvariables %}<meta name="GOOGLE_RECAPTCHA_SITE_KEY" value="{{ GOOGLE_RECAPTCHA_SITE_KEY }}">{% endblock %}

{% block body %}
<div class="container" id="container-note-view">
    <div class="row">
        <div class="col">
            
            
            <form id="form-note-view">

                <div class="alert alert-secondary loading-temporary" role="alert">
                    Loading...
                </div>

                <div class="alert alert-warning loading-error" role="alert" style="display:none">
                    
                </div>

                <div class="alert alert-warning confirmation-required" role="alert" style="display:none">
                    <p>This secure note will self-destruct if it's read. Are you sure you want to read it?</p>
                    <button id="confirm-destroy" type="button" class="btn btn-success">Read and Destroy It</button>
                    <button id="confirm-cancel" type="button" class="btn btn-danger">Cancel</button>
                </div>


                <div class="form-group secretnote-group hidden" style="visibility: none;">
                    <label for="secretnote">Secure Note</label>
                    <textarea class="form-control autogrow-afterload" id="secretnote" rows="5" readonly></textarea>
                </div>

                
            </form>

            <input type="button" class="btn btn-danger mt-4" value="Delete" id="delete-note" style="display:none" />




        </div>
    </div>
</div>

{% endblock %}