{% extends 'base.html.twig' %}
{% block title %}Read Note{% endblock %}

{% block body %}
<div class="container" id="container-note-view">
    <div class="row">
        <div class="col">
            
            
            <form id="form-note-view">

                <div class="alert alert-secondary loading-temporary" role="alert">
                    Loading...
                </div>

                <div class="alert alert-warning loading-error" role="alert" style="display:none">
                    
                </div>


                <div class="form-group secretnote-group hidden" style="visibility: none;">
                    <label for="secretnote">Secret</label>
                    <textarea class="form-control autogrow-afterload" id="secretnote" rows="5" readonly></textarea>
                </div>

                
            </form>

            <a href="/n/create" class="d-block mt-4">Create a New Note</a>




        </div>
    </div>
</div>

{% endblock %}