{% extends 'base.html.twig' %}
{% block title %}Read a Secure Note{% endblock %}
{% block metadescription %}Decrypt a client-side encrypted Secure Note{% endblock %}
{% block ogimage %}/images/large-screen-read.png{% endblock %}
{% block recaptchascript %}<script src="https://www.google.com/recaptcha/api.js?render={{ GOOGLE_RECAPTCHA_SITE_KEY }}"></script>{% endblock %}
{% block envvariables %}<meta name="GOOGLE_RECAPTCHA_SITE_KEY" content="{{ GOOGLE_RECAPTCHA_SITE_KEY }}">{% endblock %}

{% block body %}
<div class="container" id="container-note-view">
    <div class="row">
        <div class="col">
            
            
            <form id="form-note-view" class="content-block">

                <div class="alert alert-primary loading-temporary" role="alert">
                    <span id="status-updates-text">Loading...</span>
                    <div class="snprogress-bar">
                        <div class="snprogress-bar-value"></div>
                    </div>
                </div>

                <div class="alert alert-warning loading-error" role="alert" style="display:none">
                    
                </div>

                <div class="alert alert-warning confirmation-required" role="alert" style="display:none">
                    <p>This secure note will self-destruct if it's read. Are you sure you want to read it?</p>
                    <button id="confirm-destroy" type="button" class="btn btn-danger">Read and Destroy It</button>
                    <button id="confirm-cancel" type="button" class="btn btn-secondary">Cancel</button>
                </div>


                <div class="form-group secretnote-group " style="display: none;">
                    <textarea class="form-control autogrow" id="secretnote" rows="5" readonly></textarea>
                </div>

                
            </form>

            <input type="button" class="btn btn-danger mt-4" value="Delete" id="delete-note" style="display:none" />




        </div>
    </div>
</div>

{% endblock %}