<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="main-container" class="d-flex flex-column justify-content-start">
            <div id="header" class="mb-5">
                <div class="container pt-2 pb-2" >
                    <div class="row justify-content-md-center">
                        <div class="col header">
                            securenote.ca
                        </div>
                        <div class="col col-lg-2"><a href="/n/create">New Note</a></div>
                    </div>
                </div>
            </div>
            <div id="content" class="mb-5">
                {% block body %}{% endblock %}
            </div>
            <div id="footer" class="mt-auto">
                <div class="container pt-2 pb-2">
                    <div class="row">
                        <div class="col-sm">
                            <p>All notes are encrypted with a unique key (presented in the link's location-hash). 
                                The key is not recorded on the server. The only data that is recorded is NoteGUID 
                                <em>(openssl_random_pseudo_bytes ID)</em>, EncryptedNote <em>(openssl_encrypt)</em>, IsDestroyedOnRead <em>(boolean)</em>, 
                                and Expire <em>(datetime)</em>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
