<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="main-container" class="d-flex flex-column justify-content-start">
            <div id="header" class="mb-5">
                <div class="container pt-3 pb-3" >
                    <div class="row justify-content-md-center">
                        <div class="col header">
                            <a href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250.82 183.48" style="width:48px; height: 35.11px"><defs><style>.cls-1{fill:#3d3d3d;}.cls-2{fill:#fff;}.cls-3{fill:#414042;stroke:#fff;stroke-miterlimit:10;stroke-width:7px;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_5" data-name="Layer 5"><rect class="cls-1" width="183.48" height="183.48" rx="15.13"/><rect class="cls-2" x="13.99" y="27.22" width="83.83" height="13.17"/><rect class="cls-2" x="13.03" y="50.49" width="127.1" height="13.17"/><rect class="cls-2" x="13.03" y="73.76" width="42.87" height="13.17"/></g><g id="key"><path class="cls-3" d="M182.85,42.87c-22.95,7.4-32.86,25.9-33,45.09-29.42,7.9-58.32,17.61-87.2,27.32-7.26,1.88-10.88,9.64-14.25,15.73-1.32,3.48-2.64,9.64-2.31,10.43,3.27,3.13,20,9,24.26,10.88,6.53,2.65,10.08-6.46,14.13-11.27,3-3.37,8.06,1.25,11.83,1.38,4.84,1.22,5.52.33,7.62-2.59,1.72-2.39,5-7,5-7,.89-.72,8.57,5.42,10.18,2.86,1.68-6.45,2.65-13.16,4.08-19.69,4.25,4.34,8.33,9.4,13.53,12.49,3.14-.33,6-2.46,9-3.5a5.38,5.38,0,0,1,1.86,2.25l13.24-4.16c11.17,16,30.16,25.79,53.54,18.45C275.34,121.87,244.09,23.66,182.85,42.87Zm35.68,62.75c-11.71,3.9-23.23-32.28-11.42-35.88C218.83,65.84,230.35,102,218.53,105.62Z"/></g></g></svg>
                            securenote.ca</a>
                        </div>
                        <div class="col col-lg-2"><a href="/">New Note</a></div>
                    </div>
                </div>
            </div>
            <div id="content" class="mb-5">
                {% block body %}{% endblock %}
            </div>
            <div id="footer" class="mt-auto">
                <div class="container pt-2 pb-2">
                    <div class="row">
                        <div class="col-sm">
                            <p>All notes are encrypted with a unique key (presented in the link's location-hash). 
                                The key is not recorded on the server. The only data that is recorded is NoteGUID 
                                <em>(openssl_random_pseudo_bytes ID)</em>, EncryptedNote <em>(openssl_encrypt)</em>, IsDestroyedOnRead <em>(boolean)</em>, 
                                and Expire <em>(datetime)</em>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
