{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'note-base.html.twig' %}

{% block body %}
<div class="container" id="">
    <div class="row">
        <div class="col">

            <h1>Page not found</h1>

            <p>
                The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="/">click here</a> to create a new note.
            </p>
        </div>
    </div>
</div>
{% endblock %}